

#elec {
    color: rgb(17, 167, 170) ;
    text-align: center;
    font-weight: bold;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
  }

  #backdrop { background-image: url("../img/viene.png");
    background-repeat: repeat;
    background-size: 20%;
}
